* {margin: 0; padding: 0; box-sizing: border-box;}
:root {
    --button-height: 32px;
    --button-bg: white;
    --button-active-bg: #eee;
    --font-size: 14px;
    --border-radius: 4px;
    --color: #999;
    --border-color: #999;
    --border-color-hover: red;
}
body {
    font-size: var(--font-size);
}
#app {
    margin: 20px;
}
